/*------- page hero -------*/

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2vw;
    width: 100vw;
}

@media (max-width: 450px) {
    .presentation {
        gap: 10vw;
    }
}

.presentation img {
    max-height: 60vh;
    width: auto;
}

@media (max-width: 450px) {
    .presentation img {
        max-height: 40vh;
    }
}

.memyself {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

@media (max-width: 450px) {
    .memyself {
        flex-direction: column;
    }
}

.pudding {
    padding: 10vw 7vw 10vw 7vw;
    text-align: center;
    /*background-image: url('../img/sketches/pudding.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
    height: 100%;
    display: flex;
    align-items: center;
}

/*------- page content -------*/

.meScroll {
    display: flex;
    flex-direction: column;
    margin-top: 8vw;
    margin-bottom: 8vw;
    gap: 10vw;
}

.statement {
    display: flex;
    flex-direction: column;
    gap: 8vw;
    padding: 0 18vw 0 18vw;
}

@media (max-width: 450px) {
    .statement {
        gap: 12vw;
        padding: 8vw 18vw 8vw 18vw;
    }
}

/*- CV -*/

.cv {
    display: flex;
    flex-direction: column;
    padding: 4vw 18vw 4vw 18vw;
    background-color: #EDF1F5;
    gap: 2vw;
    background-image: url('../img/sketches/question.png');
    background-repeat: no-repeat;
    background-position: 90% 30%;
    background-size: 8%;

}

@media (max-width: 450px) {
    .cv {
        background-image: url('../img/sketches/questionMobile.png');
        background-position: center 97%;
        background-size: 20%;
        padding: 8vw 18vw 20vw 18vw;
    }
}

.timebeam {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

@media (max-width: 450px) {
    .timebeam {
        display: none;
    }
}

.timebeamMobile {
    display: none;
}

@media (max-width: 450px) {
    .timebeamMobile {
        display: flex;
        gap: 2vw;
        flex-direction: row;
        margin-top: 2v;
        margin-bottom: 8vh;
    }
}

.cvLine {
    display: flex;
    flex-direction: row;
}

@media (max-width: 450px) {
    .cvLine {
        flex-direction: column;
        gap: 2vw;
    }
}

.step {
    height: auto;
    padding: 3vw 1vw 3vw 1vw;
    border-radius: 2vw;
    background-color: #FAFBFC;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    gap: 1vw;
}

.step img {
    max-width: 10vw;
}

@media (max-width: 450px) {
    .step img {
        max-width: 28vw;
    }
}

.years {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .years {
        flex-direction: column;
    }
}

/*- Skills -*/

.comfiZone {
    display: flex;
    flex-direction: column;
    padding: 0 18vw 0 18vw;
    gap: 4vw;
}

.logos {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 2vw;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .logos {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-row-gap: 6vw;
    }
}

.logos img {
    max-width: 6vw;
    max-height: 6vw;
}

@media (max-width: 450px) {
    .logos img {
        max-width: 12vw;
        max-height: 12vw;
    }
}

/*- TSC -*/

.tsc {
    display: flex;
    flex-direction: column;
    background-color: #EDF1F5;
    background-image: url('../img/sketches/vidFrame.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center 90%;
    padding: 4vw 18vw 8vw 18vw;
    gap: 10vw;
}

@media (max-width: 450px) {
    .tsc {
        padding: 8vw 18vw 12vw 18vw;
        background-image: url('../img/sketches/vidFrameMobile.png');
        background-size: 90%;
gap: 16vw;
    }
}

.tsc a {
    display: flex;
    justify-content: center;
    width: auto;
}

.tsc img {
    max-width: 70%;
}

@media (max-width: 450px) {
    .tsc img {
        max-width: 100%
    }
}